HTML CSSResult Skip Results Iframe EDIT ON html,
body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.button {
  min-width: 265px;
  min-height: 55px;
  display: inline-flex;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #ffc107;
  background: linear-gradient(333deg, #ffc107 0%, rgba(254, 185, 0, 0.8) 100%);
  border: none;
  border-radius: 1000px;
  /* box-shadow: 12px 12px 24px rgba(254, 185, 0, 0.8); */
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(265px + 12px);
  min-height: calc(55px + 12px);
  border: 6px solid #feb900;
  box-shadow: 0 0 60px rgba(254, 185, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid rgba(254, 185, 0, 0.8);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
